.header {
    transition: transform 0.5s;
  }
  
  .animate-pop-in {
    animation: popInAnimation 0.5s forwards;
  }
  
  .visible {
    transform: translateX(0);
  }
  
  .hidden {
    transform: translateX(-100%);
  }
  
  @keyframes popInAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  #name{
    color: rgb(255, 255, 255);
  }
  


  .typing-effect {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }
  